apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: go-todo-app-hpa
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: go-todo
  minReplicas: 1    
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 1
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 1
