apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  mysql-root-password: cm9vdA==          # "root" base64
  mysql-user: YWRtaW4=                   # "admin" base64
  mysql-password: YWRtaW4xMjM=           # "admin123" base64
