apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pvc
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
   path: /mnt/data/cassandra

